/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* general styles */
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;
}

/* nevigation */
.nav-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 63px;
}
nav{
    
    display: flex;
    justify-content: space-between; 
}
.logo h3{
    font-size: 24px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu-item ul{
    display: flex;
}
.menu-item ul li{
    list-style: none;
}
.menu-item ul li a{
    text-decoration: none;
    color: #3A3A3A;
    margin-left: 34px;
    font-size: 16px;
}
.nav-icon{
    margin-left: 34px;
}

/* journey section */
.journey-container{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}
.journey-section{
    display: flex;
}
.journey-content{
    width: 582px;
    height: 270px;
}
.journey-content h1{
    font-size: 52px;
    margin-bottom: 0;
}
.journey-content p{
    font-size: 16px;
    margin-bottom: 16px;
}
.link-btn{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 41px;
    font-weight: 700;
}
.fa-arrow-right{
    margin-left: 8px;
}
.journey-img{
    margin-left: 133px;
}

/* logos */
.logos-section{
    width: 1110px;
    height: 40px;
    margin: 69px auto;
    margin-bottom: 100px;
    padding: 35px 62px;
    border-top: 1px solid rgba(170, 170, 170, 0.217);
    border-bottom: 1px solid rgba(170, 170, 170, 0.217);

}
.logos-section img{
    margin-left: 61px;
}

/* blogs section */

.blogs-section h2{
    font-size: 28px;
    display: flex;
    justify-content: center;
  
}
.blogs{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 1048px;
    margin: 7px auto 0;
}
.blog{
    width: 329px;
    height: 476px;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.227);
    border-radius: 5px;
}
.blog-img{
    margin: 17px 15px 0 14px;
}
.blog-content{
    margin-left: 14px;
}
.blog-title{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    margin: 16px 0 6px 0;
}
.blog-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
.blog-rating{
    font-size: 14px;
  
}
.rating-number{
    margin-left: 8px;
    color: #5E6366;
}
.fa-star, .fa-star-half-stroke{
    color: #FB8200;
}
.blog p{
    color: #787885;
    font-size: 14px;
    margin-top: 0;
}
.blog-btn{
    display: inline-block;
    position: absolute;
    bottom: -80px;
    right: 0;
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

/* feature section */
.feature-section{
    margin-top: 174px;
    display: flex;
    width: 1110px;
    margin: 174px auto 100px;
}
.feature-title{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}
.feature-content p{
    color: #6C6C6C;
    font-size: 16px;
}
.feature-btn{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
}
.feature-content{
    margin-left: 96px;
}

/* footer */
footer{
    height: 239px;
    background: #0A0826;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 262px;
    height: 139px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-container h3{
    font-size: 24px;
    margin: 0;
}
.footer-container p{
    color: #D9DBE1;
    font-size: 14px;
    margin: 3px 0;
}
.social-media{
    margin-top: 17px;
    width: 176px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}
